.description-tab {
    background-color:#6fd0ef !important;
}

.detail-tab {
    background-color:#c7b9fa !important;
}

.video-tab {
    background-color:#e7eed3 !important;
}

li.react-tabs__tab--selected .nav-link .show-forward-icon { 
    /*content: "∧"; */
    visibility: visible;
}

li .nav-link .show-forward-icon { 
    /*content: "∧"; */
    visibility: hidden;
}